:root {
  --background: #ffffff;
  --foreground: #3a3a3ad0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.object_cover{
  object-fit: cover;
}
.object_contain{
  object-fit: contain;
}

@media (min-width: 992px) {  /* Large screens start at 992px in Bootstrap */
  .container {
    max-width: 1300px !important;  /* Custom width for large screens */
  }
}

.bg-dark{
  background-color: rgb(29 28 34) !important;
  color: #fff;
}